Repository Kong/developer.konghq.com, pull requests merged in 2025-10, with the labels that each got.

#2946 Feat (Advanced Analytics): Chart interaction FAQ
  .github/styles/base/Dictionary.txt
  app/advanced-analytics/explorer.md
Labels: product:advanced-analytics

#2744 Fix 2364 added information about MFA
  app/_landing_pages/konnect-platform/authentication.yaml
Labels: do not merge, release-docs, product:konnect-platform

#2933 feat(konnect-platform): Singapore support
  app/_includes/konnect/cmek-region-mapping.md
  app/_includes/sections/cp-regions.md
  app/gateway-manager/aws-private-link.md
  app/konnect-platform/network.md
Labels: release-docs

#3033 3 12 rc6 perf results
  app/gateway/performance/benchmarks.md
Labels: skip-changelog, review:general, product:gateway

#2979 chore(gateway): 3.12.0.0 changelog
  app/_data/changelogs/gateway.json
  app/_kong_plugins/ai-aws-guardrails/changelog.json
  app/_kong_plugins/ai-azure-content-safety/changelog.json
  app/_kong_plugins/ai-llm-as-judge/changelog.json
  app/_kong_plugins/ai-mcp-oauth2/changelog.json
  app/_kong_plugins/ai-mcp-proxy/changelog.json
  app/_kong_plugins/ai-prompt-compressor/changelog.json
  app/_kong_plugins/ai-proxy-advanced/changelog.json
  app/_kong_plugins/ai-proxy/changelog.json
  app/_kong_plugins/ai-sanitizer/changelog.json
  app/_kong_plugins/ai-semantic-cache/changelog.json
  app/_kong_plugins/ai-semantic-prompt-guard/changelog.json
  app/_kong_plugins/ai-semantic-response-guard/changelog.json
  app/_kong_plugins/app-dynamics/changelog.json
  app/_kong_plugins/aws-lambda/changelog.json
  app/_kong_plugins/confluent-consume/changelog.json
  app/_kong_plugins/confluent/changelog.json
  app/_kong_plugins/datakit/changelog.json
  app/_kong_plugins/exit-transformer/changelog.json
  app/_kong_plugins/injection-protection/changelog.json
  app/_kong_plugins/jwe-decrypt/changelog.json
  app/_kong_plugins/jwt-signer/changelog.json
  app/_kong_plugins/kafka-consume/changelog.json
  app/_kong_plugins/kafka-upstream/changelog.json
  app/_kong_plugins/ldap-auth-advanced/changelog.json
  app/_kong_plugins/mocking/changelog.json
  app/_kong_plugins/mtls-auth/changelog.json
  app/_kong_plugins/oas-validation/changelog.json
  app/_kong_plugins/oauth2-introspection/changelog.json
  app/_kong_plugins/openid-connect/changelog.json
  app/_kong_plugins/opentelemetry/changelog.json
  app/_kong_plugins/prometheus/changelog.json
  app/_kong_plugins/rate-limiting-advanced/changelog.json
  app/_kong_plugins/request-callout/changelog.json
  app/_kong_plugins/response-transformer-advanced/changelog.json
  app/_kong_plugins/session/changelog.json
  app/_kong_plugins/solace-consume/changelog.json
  app/_kong_plugins/solace-log/changelog.json
  app/_kong_plugins/solace-upstream/changelog.json
  app/_kong_plugins/tls-metadata-headers/changelog.json
  app/_kong_plugins/xml-threat-protection/changelog.json
  app/gateway/breaking-changes.md
  tools/changelog-generator/missing_entries/3.12.0.0/schema-registry-kong-manager.yml
Labels: release-docs, product:gateway

#3055 Fix(gateway): Datakit docs adjustments
  app/_kong_plugins/datakit/examples/authenticate-with-vault-secret.yaml
  app/_kong_plugins/datakit/index.md
Labels: product:gateway

#3088 Fix(Kubernetes): Postgres fix
  app/_how-tos/gateway-install-helm-onprem.md
Labels: product:kgo

#2831 Feat (Konnect) Kong identity consumer group support
  app/konnect-platform/kong-identity.md
Labels: do not merge

#2936 chore(gateway): Update release dates and checklist for konnect
  app/_data/support/gateway.yml
  docs/release-checklists.md
Labels: do not merge, release-docs, product:gateway

#3066 Feat(Mesh): Disaster Recovery scenario
  .github/styles/base/Dictionary.txt
  app/mesh/disaster-recovery.md
Labels: product:mesh
