Repository Kong/developer.konghq.com, pull requests merged in 2025-06, with the labels that each got.

#1670 Use better diagrams for kong gateway
  app/_landing_pages/gateway.yaml
  app/assets/images/gateway/kong-gateway-overview-dark.svg
  app/assets/images/gateway/kong-gateway-overview-light.svg
  app/assets/images/gateway/kong-gateway-overview.svg
Labels: product:gateway

#1687 Troubleshooting data plane nodes
  app/_indices/gateway.yaml
  app/gateway-manager/data-plane-reference.md
  app/gateway/cp-dp-communication.md
  tools/track-docs-changes/config/sources.yml
Labels: ci:manual-approve:link-validation

#1712 Release: Gateway OSS 3.9.1
  app/_data/products/gateway.yml
  app/_how-tos/kic-install.md
  jekyll.yml
Labels: product:gateway

#1706 Migrate brotli doc
  app/gateway/performance/optimize.md
  tools/track-docs-changes/config/sources.yml
Labels: product:gateway

#1708 docs(how-to): add cert auth docs to hashicorp vault
  app/_gateway_entities/vault.md
  app/_how-tos/configure-hashicorp-vault-as-a-vault-backend.md
  app/_how-tos/configure-hashicorp-vault-with-cert-auth.md
Labels: ci:manual-approve:link-validation

#1936 Add github action that updates mesh's metadata automatically
  .github/workflows/update-mesh-metadata.yml
Labels: do not merge

#1942 Fix: KNEP port
  app/_how-tos/knep/get-started-with-event-gateway.md
  app/_includes/knep/docker-compose-start.md
Labels: product:event-gateway

#1959 Incremental config sync with custom plugins
  app/gateway/incremental-config-sync.md
Labels: product:gateway

#1957 Migrate org switcher info
  app/konnect-platform/account.md
Labels: product:gateway

#1958 Chore: breaking changes in Gateway 3.11
  app/gateway/breaking-changes.md
Labels: product:gateway

#1829 feat: Dev Portal email customization
  app/_landing_pages/dev-portal.yaml
  app/dev-portal/portal-customization.md
Labels: do not merge, release-docs, product:dev-portal

#1850 AsyncAPI validation rules
  app/_landing_pages/dev-portal.yaml
  app/dev-portal/apis.md
Labels: do not merge, release-docs, product:dev-portal

#1955 Dev portal breaking changes doc
  app/_indices/dev-portal.yaml
  app/dev-portal/breaking-changes.md
  app/dev-portal/custom-domains.md
  app/dev-portal/sso.md
  app/konnect-platform/sso.md
Labels: do not merge, release-docs, product:dev-portal

#1819 Feat: Service catalog integrations change for GA
  app/_includes/service-catalog/multi-resource.md
  app/_landing_pages/service-catalog.yaml
  app/_landing_pages/service-catalog/integrations.yaml
  app/assets/images/konnect/container.png
  app/service-catalog/integrations/datadog.md
  app/service-catalog/integrations/gateway-manager.md
  app/service-catalog/integrations/github.md
  app/service-catalog/integrations/gitlab.md
  app/service-catalog/integrations/konnect-analytics.md
  app/service-catalog/integrations/mesh-manager.md
  app/service-catalog/integrations/pagerduty.md
  app/service-catalog/integrations/slack.md
  app/service-catalog/integrations/swaggerhub.md
  app/service-catalog/integrations/traceable.md
Labels: do not merge, release-docs, priority: high

#1956 Gateway 3.11 changelog
  app/_data/changelogs/gateway.json
  app/_data/products/gateway.yml
  app/_kong_plugins/ai-aws-guardrails/changelog.json
  app/_kong_plugins/ai-azure-content-safety/changelog.json
  app/_kong_plugins/ai-prompt-compressor/changelog.json
  app/_kong_plugins/ai-prompt-decorator/changelog.json
  app/_kong_plugins/ai-prompt-guard/changelog.json
  app/_kong_plugins/ai-prompt-template/changelog.json
  app/_kong_plugins/ai-proxy-advanced/changelog.json
  app/_kong_plugins/ai-proxy/changelog.json
  app/_kong_plugins/ai-rag-injector/changelog.json
  app/_kong_plugins/ai-rate-limiting-advanced/changelog.json
  app/_kong_plugins/ai-request-transformer/changelog.json
  app/_kong_plugins/ai-response-transformer/changelog.json
  app/_kong_plugins/ai-sanitizer/changelog.json
  app/_kong_plugins/ai-semantic-cache/changelog.json
  app/_kong_plugins/ai-semantic-prompt-guard/changelog.json
  app/_kong_plugins/aws-lambda/changelog.json
  app/_kong_plugins/confluent/changelog.json
  app/_kong_plugins/cors/changelog.json
  app/_kong_plugins/degraphql/changelog.json
  app/_kong_plugins/forward-proxy/changelog.json
  app/_kong_plugins/graphql-rate-limiting-advanced/changelog.json
  app/_kong_plugins/header-cert-auth/changelog.json
  app/_kong_plugins/jwt-signer/changelog.json
  app/_kong_plugins/jwt/changelog.json
  app/_kong_plugins/kafka-consume/changelog.json
  app/_kong_plugins/kafka-log/changelog.json
  app/_kong_plugins/kafka-upstream/changelog.json
  app/_kong_plugins/key-auth/changelog.json
  app/_kong_plugins/ldap-auth-advanced/changelog.json
  app/_kong_plugins/mocking/changelog.json
  app/_kong_plugins/mtls-auth/changelog.json
  app/_kong_plugins/oas-validation/changelog.json
  app/_kong_plugins/openid-connect/changelog.json
  app/_kong_plugins/opentelemetry/changelog.json
  app/_kong_plugins/prometheus/changelog.json
  app/_kong_plugins/rate-limiting-advanced/changelog.json
  app/_kong_plugins/rate-limiting/changelog.json
  app/_kong_plugins/request-callout/changelog.json
  app/_kong_plugins/request-validator/changelog.json
  app/_kong_plugins/upstream-timeout/changelog.json
  tools/plugins-changelog-generator/config/mappings.yaml
Labels: product:gateway

#2003 - Update public benchmar perf tests for 3.11.0.0-rc.8
  app/gateway/performance/benchmarks.md
Labels: skip-changelog, review:general, product:gateway

#2007 [fix] Add missing conflict for `consumer` entities in Konnect control plane groups.
  app/gateway-manager/control-plane-groups.md
Labels: review:general
